<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="off" internalLogFile="./Logger/info.txt">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--

   -->
  <targets>
    <!--<target name="console" xsi:type ="Console" />
    <target name="debugger" xsi:type="Debugger" layout="${date:format=HH\:mm\:ss.fff}: ${message}" />
    <target name="error_file" xsi:type="File"
                    fileName="${basedir}/Logs/Error/${shortdate}/error.txt" maxArchiveFiles="30"
                    layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />-->
    <target xsi:type="Null" name="blackhole" />
    <target name="error_file" xsi:type="File"
                fileName="${basedir}/TempFile/Logger/${shortdate}/info.txt" maxArchiveFiles="5"
                layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <target name="database" xsi:type="Database"
            connectionString =""
            commandText="INSERT INTO SYS_Log (Date,Account,Level,Request,RequestAddress,Url,Logger,Message,Exception) Values(@Date,@Account,@Level,@Request,@RequestAddress,@Url,@Logger,@Message, @Exception);"
            >
      <parameter name = "@Date" layout = "${longdate}" />
      <parameter name = "@Account" layout = "${event-context:item=Account}"/>
      <parameter name = "@Level" layout = "${level}" />
      <parameter name = "@Logger" layout = "${logger}"/>
      <parameter name = "@Request" layout = "${event-context:item=Request}"/>
      <parameter name = "@RequestAddress" layout = "${event-context:item=RequestAddress}"/>
      <parameter name = "@Url" layout = "${aspnet-request-url:IncludeQueryString=true}" />
      <parameter name = "@Message" layout = "${message}" />
      <parameter name = "@Exception" layout ="${exception:tostring}"/>
      <dbProvider>MySql.Data.MySqlClient.MySqlConnection,Mysql.Data</dbProvider>
    </target>
  </targets>
  <rules>
    <!-- 除非调试需要，把 .NET Core 程序集的 Debug 输出都屏蔽 Trace -》Debug-》 Information -》Warning-》 Error-》 Critical-->
    <logger name="Microsoft.*" minLevel="Trace" writeTo="blackhole" final="true" />
    <!-- 除非调试需要，把系统的 Debug 输出都屏蔽 -->
    <logger name="System.*" minLevel="Trace" writeTo="blackhole" final="true" />
    <logger name="error_file" minlevel="Error" writeTo="error_file" />
    <logger name="*" minlevel="Information" writeTo="database" final="true" />
  </rules>
</nlog>
