@{
    Layout = "_Layout";
}

<div class="header-container">
    <div class="img" style="padding:5px">
        <img src="~/img/favicon.png" />
    </div>
    <div class="txt">
        Quartz.Net后台任务调度
        <span class="author">QQ：283591387</span>
    </div>
    <div class="fun">
        <ul>
            <li><a href="javascript:;" onclick="">任务列表</a></li>
            <li><a href="javascript:;" onclick="">帮助</a></li>
            <li><a href="javascript:;" onclick="">退出</a></li>
        </ul>
    </div>
</div>
@RenderBody()
